<form [formGroup]="instrumentForm" autocomplete="off">
  <div class="w-full flex justify-center mt-6">
    <!-- instrument data -->
    <div class="flex flex-col md:flex-row md:space-x-2">
      <mat-form-field appearance="outline" class="md:w-40">
        <mat-label>Instrument Name</mat-label>
        <input matInput formControlName="instrumentName" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="md:w-40">
        <mat-label>Serial Number</mat-label>
        <input matInput formControlName="instrumentSerialNumber" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="md:w-40">
        <mat-label>Test Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="testDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="flex justify-center">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onAddSensor()"
    >
      Add Sensor
    </button>
  </div>
  <ng-container
    *ngFor="let sensor of sensors.controls; let i = index"
    formArrayName="sensors"
  >
    <div class="p-4">
      <app-sensor-data
        [form]="sensor"
        (deleteRequest)="removeSensor($event)"
      ></app-sensor-data>
    </div>
  </ng-container>
</form>
