<form [formGroup]="instrumentForm" autocomplete="off">
  <div class="w-full flex justify-center mt-6">
    <!-- instrument data -->
    <app-device-info
      (deviceInfoReady)="addFormControl('deviceInfo', $event)"
    ></app-device-info>
  </div>
  <div class="flex justify-center">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onAddSensor()"
    >
      Add Sensor
    </button>
  </div>
  <ng-container *ngFor="let sensor of sensors; let i = index">
    <div class="p-4">
      <app-sensor-data
        [index]="i"
        (formReady)="addSensor(i, $event)"
        (deleteRequest)="removeSensor($event)"
      ></app-sensor-data>
    </div>
  </ng-container>
</form>
