<form [formGroup]="searchForm">
  <div class="max-w-lg mx-auto p-8">
    <div class="flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>Select Customer</mat-label>
        <mat-select formControlName="customer">
          <mat-option
            *ngFor="let customer of customers | async"
            [value]="customer.customerName"
            >{{ customer.customerName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <div class="mx-auto">
        <mat-checkbox formControlName="showSelf"
          >Show only own data</mat-checkbox
        >
      </div>
    </div>
  </div>
</form>

<div class="flex flex-col p-0 md:p-4">
  <div class="shadow border-b border-gray-200 sm:rounded-lg overflow-x-auto">
    <table class="divide-y divide-gray-200 w-full">
      <thead
        class="bg-gray-100"
        app-table-header
        [columns]="['Maintenance Date', 'Number of units']"
        [hasBtnCol]="true"
      ></thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let maintenance of maintenanceData">
          <!-- date cell -->
          <td
            app-table-cell
            [data]="
              maintenance.instruments[0].testDate.toString().split('T')[0]
            "
            [leadingCell]="true"
          ></td>

          <!-- num units cell -->
          <td
            app-table-cell
            [data]="maintenance.instruments.length.toString()"
          ></td>

          <!-- detail button cell -->
          <td
            class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
          >
            <a
              [routerLink]="
                '/maintenance/portable/' + maintenance.jobID + '/edit'
              "
              class="text-indigo-600 hover:text-indigo-900"
              >Details</a
            >
            <button
              mat-raised-button
              color="primary"
              (click)="onGetReport(maintenance.jobID)"
              class="text-indigo-600 hover:text-indigo-900"
            >
              Report
            </button>
          </td>
        </tr>
        <tr *ngIf="maintenanceData.length === 0">
          <td app-table-cell [data]="'No data available'"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
