<div [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ formField.label }}</mat-label>

    <div [ngSwitch]="formField.controlType">
      <!-- case: textbox -->
      <input
        *ngSwitchCase="'textbox'"
        matInput
        [formControlName]="formField.key"
        [type]="formField.type"
        autocomplete="off"
      />

      <!-- case: dropdown -->
      <mat-select *ngSwitchCase="'dropdown'" [formControlName]="formField.key">
        <mat-option
          *ngFor="let option of formField.options"
          [value]="option.key"
          >{{ option.value }}</mat-option
        >
      </mat-select>
    </div>
    <mat-error *ngIf="!isValid && isTouched"
      >{{ formField.label }} is <strong>required</strong></mat-error
    >
  </mat-form-field>
</div>
