<form [formGroup]="sensorData" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="max-w-2xl mx-auto">
    <!-- sensor data -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Sensor Data </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- serial number -->
      <mat-form-field appearance="outline" class="w-full md:w-64">
        <mat-label>Serial Number</mat-label>
        <input matInput formControlName="serialNumber" />
      </mat-form-field>

      <!-- cal data -->
      <div class="flex flex-col md:flex-row md:space-x-2">
        <mat-form-field appearance="outline" class="md:w-64">
          <mat-label>Calibration Gas</mat-label>
          <input matInput formControlName="calGasName" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="md:w-32">
          <mat-label>Concentration</mat-label>
          <input matInput formControlName="calGasConc" type="number" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="md:w-24">
          <mat-label>Unit</mat-label>
          <mat-select formControlName="calGasUnit">
            <mat-option *ngFor="let unit of gasUnit" [value]="unit">{{
              unit
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Ref gas values (if true) -->
      <div formGroupName="refGas" class="space-y-2">
        <mat-checkbox (click)="onToggleRefGas()" formControlName="isUsed"
          >Reference Gas</mat-checkbox
        >
        <!-- Ref gas data -->
        <div *ngIf="refGas">
          <div class="flex flex-col md:flex-row md:space-x-2">
            <mat-form-field appearance="outline" class="md:w-64">
              <mat-label>Reference Gas</mat-label>
              <input matInput formControlName="refGasName" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="md:w-32">
              <mat-label>Concentration</mat-label>
              <input matInput formControlName="refGasConc" type="number" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="md:w-24">
              <mat-label>Unit</mat-label>
              <mat-select formControlName="refGasUnit">
                <mat-option *ngFor="let unit of gasUnit" [value]="unit">{{
                  unit
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Alarm levels data -->
      <div class="mt-4">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Alarm Data </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div formGroupName="alarmLvls">
            <div class="">
              <div class="space-x-2">
                <mat-form-field appearance="outline" class="w-36">
                  <mat-label>Alarm One</mat-label>
                  <input matInput formControlName="alarmOne" type="number" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-36">
                  <mat-label>Alarm Two</mat-label>
                  <input matInput formControlName="alarmTwo" type="number" />
                </mat-form-field>
              </div>
              <div class="space-x-2">
                <mat-form-field appearance="outline" class="w-36">
                  <mat-label>STEL Alarm</mat-label>
                  <input matInput formControlName="stel" type="number" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-36">
                  <mat-label>TWA Alarm</mat-label>
                  <input matInput formControlName="twa" type="number" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>
  </div>
</form>
