<form [formGroup]="sensorForm" autocomplete="off">
  <div class="max-w-2xl mx-auto">
    <!-- sensor data -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Sensor Data </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>

      <!-- sensor info -->
      <div class="flex flex-col md:flex-row md:justify-between">
        <ng-container *ngFor="let s of sensorInfo">
          <app-input [form]="sensorInfoGroup" [formField]="s"></app-input>
        </ng-container>
      </div>

      <!-- cal info -->
      <div class="flex flex-col md:flex-row md:justify-between">
        <ng-container *ngFor="let i of calInfo">
          <app-input [form]="calInfoGroup" [formField]="i"></app-input>
        </ng-container>
      </div>

      <!-- cal data -->
      <div class="flex flex-col md:flex-row md:justify-between">
        <ng-container *ngFor="let d of calData">
          <app-input [form]="calDataGroup" [formField]="d"></app-input>
        </ng-container>
      </div>

      <!-- Ref gas values (if true) -->
      <div class="space-y-2" formGroupName="refGas">
        <mat-checkbox
          (click)="onToggleRefGas()"
          (keydown)="onToggleRefGas()"
          formControlName="isUsed"
          >Reference Gas</mat-checkbox
        >
        <!-- Ref gas data -->
        <div *ngIf="refGas">
          <div class="flex flex-col md:flex-row md:space-x-2">
            <ng-container *ngFor="let r of refInfo">
              <app-input [form]="refInfoGroup" [formField]="r"></app-input>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Alarm levels data -->
      <div class="mt-4">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Alarm Data </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex flex-col md:flex-row md:justify-between">
            <ng-container *ngFor="let a of alarmData">
              <app-input [form]="alarmDataGroup" [formField]="a"></app-input>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="flex justify-end pt-4">
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="onDeleteSensor()"
        >
          Remove Sensor
        </button>
      </div>
    </mat-expansion-panel>
  </div>
</form>
