<form [formGroup]="startForm" (ngSubmit)="onSubmit()">
  <div class="max-w-lg mx-auto p-8">
    <div class="flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>Select Customer</mat-label>
        <mat-select formControlName="customer">
          <mat-option
            *ngFor="let customer of customers"
            [value]="customer.customerName"
            >{{ customer.customerName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select Product Type</mat-label>
        <mat-select formControlName="product">
          <mat-option
            *ngFor="let instrument of instrumentSelector"
            [value]="instrument"
            >{{ instrument }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Number of Units</mat-label>
        <input matInput formControlName="amount" type="number" />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" class="w-full">
      New Maintenance
    </button>
  </div>
</form>
