<div
  class="
    h-16
    w-full
    bg-primary
    flex
    fixed
    items-center
    shadow-lg
    overflow-scroll
    z-50
  "
>
  <div class="ml-4">
    <button
      mat-mini-fab
      class="focus:outline-none"
      aria-label="menu toggle button"
      (click)="onToggleRequest()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span class="text-xl sm:text-2xl tracking-wider font-bold text-white ml-4"
    >SAM Application</span
  >
  <div class="text-lg ml-auto mr-4">
    <a
      routerLink="/profile"
      mat-mini-fab
      color="accent"
      aria-label="Profile"
      class="focus:outline-none"
    >
      {{ nameInitial }}
    </a>
  </div>
</div>
